
#game-field {
  height: 100%;
  width: 100%;
  position: relative;
}

.player {
  /*width: 20px;*/
  /*height: 20px;*/
  position: absolute;
  background-color: blue;
}

.player:focus {
  outline: none;
}

#player-1 {
  background-color: red;
}

#player-2 {
  background-color: blue;
}

