#lobby {
  display: flex;

  #lobby-players-count {
    font-size: 2rem;

  }

  #lobby-game-id {
    all: unset;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  #start-button {
	width: 20%;
	height: 30px;
	border: 1px solid black;
  }
}