#paused {
  display: none;



  #paused-by {
  }

  #paused-timer {
    font-size: 3rem;
  }

  #buttons-container {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;

    button {
      width: 50%;
      height: 30px;
      border: 1px solid black;
    }
  }
}