$player-colors: (
		'1': red,
		'2': green,
		'3': blue,
		'4': yellow
);

@each $id, $color in $player-colors {
  .player[number='#{$id}'] {
	--player-color: #{$color};
  }
}

.player {
  position: absolute;
  background-color: var(--player-color);
  //width: clamp(20px, 2vw, 40px);
  //width: 30px;
  aspect-ratio: 1/1;

  &::before {
	content: var(--name);
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	color: lightgray;
	white-space: nowrap;
	font-size: 1.5rem;
	//text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
	//1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  &.me {
	&::before {
	  color: black;
	}
  }

  &:focus {
	outline: none;
  }
}