$player-colors: (
		'1': red,
		'2': green,
		'3': blue,
		'4': yellow
);

@each $id, $color in $player-colors {
  .player[number='#{$id}'] {
	--player-color: #{$color};
  }
}

.player {
  position: absolute;
  background-color: var(--player-color);
  width: clamp(20px, 2vw, 40px);
  aspect-ratio: 1/1;

  &::before {
	content: var(--name);
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	color: lightgray;
	white-space: nowrap;
  }

  &.me {
	&::before {
	  color: black;
	}
  }

  &:focus {
	outline: none;
  }
}