#scoreboard {
  display: none;

  #winner {
    font-size: 1.25rem;
    color: gold;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
  }

  #scores {
    color: black;
    font-size: 1.1rem;
  }
}