#scoreboard {
  display: none;
  justify-content: space-around;

  #winner {
    font-size: 1.25rem;
    color: gold;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
  }

  #scores {
    color: black;
    font-size: 1.25rem;

    th, td {
      border: none;
      padding: 0.5rem 1rem;
    }

    .player-score {
      list-style-type: none;
    }
  }
}