.ui {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgray;

  .ui-item {

  }

  .value {
    width: 5px;
  }

  #game-id {

  }

  #player-count {
  }

  #player-id {

  }
}

#game-ui {
  top: 0;
}

#player-ui {
  bottom: 0;
}