.ui {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgray;

  &#game-ui {
    top: 0;
  }

  &#player-ui {
    bottom: 0;
  }

  .ui-item {


    &#player-id {

    }

    &#player-hp{

    }

    &#game-id {

      #game-id-value {
        all: unset;

        &:hover {
          scale: 1.025;
          cursor: pointer;
        }
      }

    }

    &#player-count {
    }

    .value {
      width: 5px;
    }
  }
}

#game-inner {

  #player-respawnTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: monospace;
  }
}