#menu {
  #instructions-button-container {
	width: fit-content;
	aspect-ratio: 1/1;
	position: absolute;
	top: -20px;
	right: -20px;
	box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.49);
	background: rgba(255, 255, 255, 0.85);
	-webkit-backdrop-filter: blur(9px);
	border-radius: 100px;
	transition: all 0.1s ease-in-out;

	&:hover {
	  transform: scale(1.1);
	  cursor: pointer;
	  background: rgba(255, 255, 255, 1);
	}

	button#instructions-button {
	  all: unset;
	  aspect-ratio: 1/1;
	  width: 50px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5rem;

	  svg {
		width: 100%;
		height: 100%;
	  }
	}
  }
}